<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gacl.mapping.userMapper">

    <select id="login" resultType="me.gacl.domain.User">
        select * from userinf where userID=#{userID} and userPWD=#{userPWD}
    </select>
    
    <select id="DistServIP" resultType="me.gacl.domain.server">
        select serverIP from HWSERVER 
    </select>
    
    <select id="ProfComparison" parameterType="String" resultType="me.gacl.domain.profComparison">
        select profname from profComparison  where appName=#{appName}
    </select>
            
</mapper>