<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gacl.mapping.userMapper">

    <select id="login" resultType="me.gacl.domain.User">
        select * from userinf where userID=#{userID} and userPWD=#{userPWD}
    </select>
    
    <select id="DistServIP" resultType="me.gacl.domain.server">
        select serverIP from HWSERVER 
    </select>
    
    <select id="ProfComparison" parameterType="String" resultType="me.gacl.domain.profComparison">
        select profname from profComparison  where appName=#{appName}
    </select>
    
     <insert id="addinworknodes" parameterType="me.gacl.domain.inWorkNodes">
        insert into inWorkNodes(nodeID,nodeManage,nodeCreTime,nodeState) values(#{nodeID},#{nodeManage},#{nodeCreTime},#{nodeState})
    </insert>         
               
    <select id="hasinworknodes" resultType="me.gacl.domain.inWorkNodes">
        select * from inWorkNodes where nodeID=#{nodeID} and nodeManage=#{nodeManage}
    </select>
            
            
    <delete id="deleteinworknodes" parameterType="String">
         delete from inWorkNodes where nodeID=#{nodeID}
    </delete>
         
     <insert id="addinWorkGateways" parameterType="me.gacl.domain.inWorkGateways">
        insert into inWorkGateways(gatewayID,gatewayManage,gatewayCreTime,gatewayState) values(#{gatewayID},#{gatewayManage},#{gatewayCreTime},#{gatewayState})
    </insert> 

</mapper>