<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IOTMainServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginEntrance</servlet-name>
    <servlet-class>web.mainservlet.LoginEntrance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEntrance</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeviceADD</servlet-name>
    <servlet-class>lora.mainservlet.DeviceADD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceADD</servlet-name>
    <url-pattern>/deviceADD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeviceDEL</servlet-name>
    <servlet-class>lora.mainservlet.DeviceDEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceDEL</servlet-name>
    <url-pattern>/deviceDEL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GatewayADD</servlet-name>
    <servlet-class>lora.mainservlet.GatewayADD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GatewayADD</servlet-name>
    <url-pattern>/gatewayADD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GatewayDEL</servlet-name>
    <servlet-class>lora.mainservlet.GatewayDEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GatewayDEL</servlet-name>
    <url-pattern>/gatewayDEL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeviceRX</servlet-name>
    <servlet-class>lora.mainservlet.DeviceRX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceRX</servlet-name>
    <url-pattern>/deviceRX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UplinkRX</servlet-name>
    <servlet-class>lora.mainservlet.UplinkRX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UplinkRX</servlet-name>
    <url-pattern>/uplinkRX</url-pattern>
  </servlet-mapping>
</web-app>